body {
  font-family: "Gillius", sans-serif;
  font-size: 11pt;
}
input {
  border: none;
  border-bottom: 1px solid #999;
}
tt {
  font-family: "Inconsolata", fixed;
  font-weight: bold;
  font-size: 9pt;
}

#flot {
  width: 800px;
  height: 600px;
}

.right {
  text-align: right;
}

caption {
  font-weight: bold;
  font-size: 12pt;
}
